include ../block-search/block-search
include ../button/button

mixin block-search-filters(data)
  - data = JSON.parse(JSON.stringify(data)) // clone the data object
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-search-filters")
  +block-search(data)
    if data.aroundMeButton
      - data.aroundMeButton.modifiers = ["secondary", "around-me-button"]
      +button(data.aroundMeButton)
    if data.filter_items && data.filter_items.length
      each item in data.filter_items
        - item.modifiers = ["white", "small"]
        +button(item)
      .more-filters-button
        - data.more.modifiers = ["secondary", "small"]
        +button(data.more)
      .block-search-filters-popup
        .popup-background
        .popup-content
          .search-filters-container
            input(type='text', name='search-filters', placeholder=data.popup_search_placeholder)
          .filters-list
            each item in data.filter_items
              label
                input(
                  type='checkbox'
                  name='categories[]'
                )
                span= item.text
          if data.popup_links && data.popup_links.length
          .buttons
            each button, index in data.popup_links
              if index == 0
                - button.modifiers = ["discard", "action"]
              else if index == 1
                - button.modifiers = ["confirm", "action"]
              +button(button)
    .secondary-filters
      .secondary-filter
        span.secondary-filter-title= data.secondary_filters.opening_title
        label
          input(type='checkbox', name='open-now')
          span= data.secondary_filters.opening_label
      if data.secondary_filters.accessibility_choices
      .secondary-filter
        span.secondary-filter-title= data.secondary_filters.accessibility_title
        select(name='open-now')
          each choice in data.secondary_filters.accessibility_choices
            option(value= choice.value)= choice.text
    if data.aroundMeButton
      - data.applyFiltersButton.modifiers = ["apply-filters-button"]
      +button(data.applyFiltersButton)