include ../button/button

mixin notice(data)
  .notice(class=data.modifiers id=data.id)
    if data.closable === true
      button.close(type="button")
        if data.close_label
          .hidden-accessibly= data.close_label
    else if data.closable
      .notice-button
        +button(data.closable)

    p.notice-content
      if data.block
        != data.block
      else if block
        block
      else
        if data.href
          a.notice-content-link(href=data.href)
            span.notice-content-title= data.title
            if data.text
              != "&nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;"
              span.notice-content-text= data.text
            i.icon-arrow-small-right
        else
          span.notice-content-title= data.title
