mixin jumbotron-slider(data)
  - var tag = (data.href) ? 'a' : 'div'
  #{tag}.jumbotron-slider(class=data.modifiers href=data.href)
    .jumbotron-slider-content(style="background-image: url(#{data.image});")
    .jumbotron-slider-notice
      p.jumbotron-slider-notice-content
        span.jumbotron-slider-notice-content-wrapper
          span.jumbotron-slider-notice-title= data.title
          if data.text
            != "&nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;"
            span.jumbotron-slider-notice-text= data.text
          if data.href
            i.icon-arrow-small-right
