include ../../modules/button/button

mixin opening-hours(data)
  .component.component-opening-hours(class=data.modifiers)
    .opening-hours-heading
      h2= data.title
      if data.title_link
        .opening-hours-title-links
          a(href=data.title_link.href)= data.title_link.text
    if data.status
      p.opening-hours-status(class=data.status.open ? "is-open" : "is-closed")
        i.icon.icon-alert
        = data.status.text
    if data.current_hours
      table(summary=data.current_hours.summary)
        if data.current_hours.caption
          caption= data.current_hours.caption
        if data.current_hours.items
          for item in data.current_hours.items
            tr
              th= item.title
              td= item.text
    if data.planned_closures
      .opening-hours-planned-closures
        i.icon.icon-alert
        = data.planned_closures.text
        if data.planned_closures.items
          ul
            for item in data.planned_closures.items
              li= item
    if data.button
      - button = JSON.parse(JSON.stringify(data.button)) // clone the data object
      // - button.modifiers = ["action", "secondary", "small"] // overwrite the modifiers
      // +button(button)
      .js-expandmore= button.text
    if data.other_hours
      .opening-hours-other.js-to_expand
        h3.opening-hours-other-title= data.other_hours.title
        for item in data.other_hours.items
          table(summary=item.summary)
            if item.caption
              caption= item.caption
            if item.items
              for i in item.items
                tr
                  th= i.title
                  td= i.text
