include ../news-card/news-card

mixin news-list(data)
  if data.agenda
    div.news-list-agenda
      div.news-list-agenda-filters.component-form
        label= "Filtrer par"
        div.form-item.form-item-select
          select
            option(value="month") Mois 
            option(value="arr") Arrondissement 
      div.news-list-agenda-nav-month
      div.news-list-agenda-arrondissement
        span.news-list-agenda-arrondissement-change= "1er"
        span.news-list-agenda-arrondissement-change= "2e"
        span.news-list-agenda-arrondissement-change= "3e"
        span.news-list-agenda-arrondissement-change= "4e"
        span.news-list-agenda-arrondissement-change= "5e"
        span.news-list-agenda-arrondissement-change= "6e"
        span.news-list-agenda-arrondissement-change= "7e"
        span.news-list-agenda-arrondissement-change= "8e"
        span.news-list-agenda-arrondissement-change= "9e"
        span.news-list-agenda-arrondissement-change= "10e"
        span.news-list-agenda-arrondissement-change= "11e"
        span.news-list-agenda-arrondissement-change= "12e"
        span.news-list-agenda-arrondissement-change= "13e"
        span.news-list-agenda-arrondissement-change= "14e"
        span.news-list-agenda-arrondissement-change= "15e"
        span.news-list-agenda-arrondissement-change= "16e"
        span.news-list-agenda-arrondissement-change= "17e"
        span.news-list-agenda-arrondissement-change= "18e"
        span.news-list-agenda-arrondissement-change= "19e"
        span.news-list-agenda-arrondissement-change= "20e"

  if data.modifiers && data.modifiers.indexOf("news-cards") !== -1
    if data.modifiers.indexOf("large-first-child") !== -1
      ul.news-list(class=data.modifiers)
        each item, index in data.items.slice(0, 5)
          li.news-list-card-item
            if index === 0
              - var item = JSON.parse(JSON.stringify(item)) // clone the data object
              - item.modifiers = ["large"] // overwrite the modifiers
              +news-card(item)
            else
              +news-card(item)
    else
      ul.news-list.gallery(class=data.modifiers+" "+data.agenda)
        each item in data.items
          li.news-list-card-item
            +news-card(item)
      ul.news-list.gallery(class=data.modifiers+" agenda-clone")
      div.agenda-clear
  else
    ul.news-list.gallery(class=data.modifiers+" "+data.agenda)
      each item in data.items
        li.news-list-item
          a.news-item(href=item.href onclick=item.onclick)
            .news-item-meta
              .news-item-date= item.date
              .news-item-category= item.category
            .news-item-title= item.title
            if item.counters
              .social-counters
                .facebook-counter
                  i.icon.icon-facebook(aria-hidden="true")
                  span.counter-value= item.counters.facebook[0]
                  span.counter-label= item.counters.facebook[1]
                .twitter-counter
                  i.icon.icon-twitter(aria-hidden="true")
                  span.counter-value= item.counters.twitter[0]
                  span.counter-label= item.counters.twitter[1]
