mixin card(data)
  .component.component-card(class=data.modifiers)
    a(href=data.href)
      .card-image(style="background-image: url(#{data.image})")
      .card-content
        .card-category= data.category
        h3.card-title= data.title
        if data.text
          .card-text!= data.text
