include ../button/button

mixin jumbotron-treize(data)
  .jumbotron-treize(style="background-image: url(#{data.image});" id=data.id class=data.modifiers)
    .jumbotron-treize-wrapper
      .jumbotron-treize-content
        - var tag = data.tag || 'h3'
        #{tag}.jumbotron-treize-title= data.title
        h2.jumbotron-treize-text= data.text
        .treize-credit= data.credit
        if data.button
          - var button = JSON.parse(JSON.stringify(data.button))
          +button(button)
        
