mixin video-home-news(data)
  .video-home-news
    ul.video-home-news-items
      each item in data.items
        li.video-home-news-item(class=item.modifiers)
          a.video-card(href=item.href target="_blank" data-url=item.embed_url)
            .video-card-image(style=item.image && "background-image: url(#{item.image})")
              span.video-card-play(class="icon-play")
              span.video-card-duration= item.duration
            .video-card-content
              if item.title
                h3.video-card-title= item.title
              .video-card-text= item.text
    .video-modal
      .video-modal-wrapper
        iframe(width="100%" height="100%" scrolling="no" frameborder="no" allowfullscreen)
        if data.placeholder
          .video-modal-placeholder!= data.placeholder
        span.video-modal-close(class="icon-close")
