include ../../modules/button/button
include ../../components/expandable/expandable

mixin rush-hours(data)
  if data.button
    - data_expandable = { button: data.button }
    +expandable(data_expandable)
      +rush-hours-block(data)
  else
    +rush-hours-block(data)

mixin rush-hours-block(data)
  .component.component-rush-hours(class=data.modifiers)
    h2.anchor(id=data.title.id)= data.title.text
    .hidden-on-small
      +rush-hours-table(data)
    .only-on-small
      +rush-hours-table(data, 0, 4)
      +rush-hours-table(data, 4, 8)
    if data.text
      p.rush-hours-text!= data.text

mixin rush-hours-table(data, beginning, end)
  - data = JSON.parse(JSON.stringify(data || {})); // clone the data object
  - beginning = beginning || 0
  - end = end || 100
  table(summary=data.summary)
    if data.caption
      caption= data.caption
    tr
      th
      for day in data.days.slice(beginning, end)
        th(scope='col')
          .hidden-on-small= day
          .only-on-small(aria-hidden="true")= day.slice(0, 3)
    if data.items
      for item in data.items
        tr
          th
            .rush-hours-interval
              = item.from
              .hidden-accessibly= " - " + item.to
          for t in item.traffic.slice(beginning, end)
            +rush-hours-td(t)

mixin rush-hours-td(traffic)
  td(class="traffic-#{traffic}")
    - var icon = 0
      while icon < traffic
        i.rush-hours-traffic-icon(aria-hidden="true")
        - icon++
