mixin rush-hours(data)
  .component.component-rush-hours(class=data.modifiers)
    h2= data.title
    .hidden-on-small
      +rush-hours-table(data)
    .only-on-small
      +rush-hours-table(data, 0, 3)
      +rush-hours-table(data, 3, 6)
      +rush-hours-table(data, 6, 8)
    if data.text
      p.rush-hours-text!= data.text

mixin rush-hours-table(data, beginning, end)
  - data = JSON.parse(JSON.stringify(data || {})); // clone the data object
  - beginning = beginning || 0
  - end = end || 100
  table(summary=data.summary)
    if data.caption
      caption= data.caption
    tr
      th
      for day in data.days.slice(beginning, end)
        th(scope='col')= day
    if data.items
      for item in data.items
        tr
          th= item.title
          for t in item.traffic.slice(beginning, end)
            +rush-hours-td(t)

mixin rush-hours-td(traffic)
  td(class="traffic-#{traffic}")
    - var icon = 0
      while icon < traffic
        i.rush-hours-traffic-icon(aria-hidden="true")
        - icon++
